*
!.gitignore
!AGENTS.md
!LICENSE
!README.adoc
!CHANGELOG.adoc
!changelog-details/
!changelog-details/**
!package.json
!pnpm-lock.yaml
!tsconfig.json
!biome.json
!antora-playbook.yml
!config.example.json5
!.env.example
!src/
!src/**
!docs/
!docs/**
!.github/
!.github/**
!scripts/
!scripts/**
node_modules/
dist/
build/
public/
*.tsbuildinfo
config.local.json5
state/
*.log
coverage/
